

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sidebar{
  position: fixed;
  width: 300px;
  height: 100%;
  left: 0px;
  background: #1b1b1b;
  transition: left 0.4s ease;
}
.sidebar.show{
  left: 0px;
}
.sidebar .text{
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 62px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}
nav ul{
  background: #1b1b1b;
  height: 100%;
  width: 100%;
  list-style: none;
}
nav ul li{
  line-height: 65px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
nav ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
nav ul li a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
nav ul li.active a{
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
}
nav ul li a:hover{
  background: #1e1e1e;
}
nav ul ul{
  position: static;
  display: none;
}
nav ul .feat-show.show{
  display: block;
}
nav ul .serv-show.show1{
  display: block;
}
nav ul .notice-show.show2{
    display: block;
  }
nav ul .enquiry-show.show3{
    display: block;
}
nav ul ul li{
  line-height: 42px;
  border-top: none;
}
nav ul ul li a{
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}
nav ul li.active ul li a{
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;
}
nav ul ul li a:hover{
  color: cyan!important;
  background: #1e1e1e!important;
}
nav ul li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
nav ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
.material-icons {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 22px;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  
.container {
  position: absolute;
  right: 0;
  width: 80vw;
  height: 100vh;
  background: #f1f1f1;
}

.container .header {
  position: fixed;
  top: 0;
  right: 0;
  width: 80vw;
  height: 10vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.container .header .nav {
  width: 90%;
  display: flex;
  align-items: center;
}

.container .header .nav .search {
  flex: 3;
  display: flex;
  justify-content: center;
}

.container .header .nav .search input[type=text] {
  border: none;
  background: #f1f1f1;
  padding: 10px;
  width: 50%;
}

.container .header .nav .search button {
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .header .nav .search button img {
  width: 30px;
  height: 30px;
}

.container .header .nav .user {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container .header .nav .user img {
  width: 40px;
  height: 40px;
}

.container .header .nav .user .img-case {
  position: relative;
  width: 50px;
  height: 50px;
}

.container .header .nav .user .img-case img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content .container3{
  background-color: white;
  padding: 30px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 130px;
}

.content .container3 .admin_profile{
  margin-top: 10px;
}

.content .container3 .row1{
  display: flex;
  flex-direction: row;
} 

.content .container3 .row1 .admin_name {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  margin-right: 10px;
}

.content .container3 .row1 .admin_name input[type=text]{
  width: 450px;
  border: 1px solid black;
  height: 25px;
  margin-top: 9px;
  border-radius: 4px;
}

.content .container3 .row1 .user_name {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  margin-left: 10px;
}

.content .container3 .row1 .user_name input[type=text]{
  width: 450px;
  border: 1px solid black;
  height: 25px;
  margin-top: 9px;
  border-radius: 4px;
}


.content .container3 .date {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

.content .container3 .date input[type=datetime]{
  width: 100%;
  border: 1px solid black;
  margin-top: 9px;
  height: 30px;
  border-radius: 4px;
}


.content .container3 .update button{
  background-color: dodgerblue;
  border-radius: 5px;
  height: 30px;
  margin-top: 27px;
  /* width: 50px; */
  padding-left:23px ;
  padding-right: 23px;
  font-size: 15px;
  color: white;
  border-width: 1px;
}



 